<!DOCTYPE html>
<html>
<head>
  <title>화이트보드</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>
  <div class="container">
   <div class="user_whiteboard">
    <div class="subtitle">
    <a href="/" class="logo"><%= image_tag("logo.png") %></a>  
    <p class="text1">비밀번호 찾기</p>
    </div>
    <div class="boundary3">
      <div class="form">
     <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>
        
          <div class="form-inputs">
            <%= f.input :email, autofocus: true, :label => false, placeholder: "이메일@korea.ac.kr" %>
          </div>
          <div class="form-actions" id="submit">
            <%= f.button :submit, "비밀번호 확인" %>
          </div>
      <% end %>
      </div>
    </div>
   <div class="links">
    <%= render "devise/shared/links" %>
   </div>
      </div>

  </div>
</body>
  

</html>