<%= form_for(@sigan) do |f| %>
  <% if @sigan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sigan.errors.count, "error") %> prohibited this sigan from being saved:</h2>

      <ul>
      <% @sigan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :강의명 %>:<%= f.text_field :gwamokid, :value => @currentgwamokid, :readonly => true %>
  </div>
  <div class="field fieldspace">
    <%= f.label :작성자 %>:<%= f.text_field :username,:value => current_user.name, :readonly => true  %>
  </div>
  
  <div class="field">
    <%= f.label :제목 %><%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :내용 %><br><%= f.text_area :body %>
  </div>
  <div class="field">
  <%= f.label :첨부파일 %><br><%= f.file_field :attachment %>
  </div>
  <div class="actions" id="postsubmit">
    <%= f.submit "작성하기", :currentgwamokid=> @currentgwamokid%>
  </div>
<% end %>
