<p id="notice"><%= notice %></p>

<h1><%= @currentgwamokid %>에서 팀플맞추기</h1>

<table>
  <thead>
    <tr>
      <th>현재과목</th>
      <th>작성자</th>
      <th>제목</th>
      <th>내용</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sigans.each do |sigan| %>
      <tr>
        <td><%= sigan.gwamokid %></td>
        <td><%= sigan.username %></td>
        <td><%= sigan.title %></td>
        <td><%= sigan.body %></td>
        <td><%= link_to '보기', sigan %></td>
        <td><%= link_to '수정하기', edit_sigan_path(sigan) %></td>
        <td><%= link_to '삭제하기', sigan, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새 글 작성하기', new_sigan_path(:currentgwamokid=> @currentgwamokid) %>
