<p id="notice"><%= notice %></p>

<p>
  <strong>현재과목</strong>
  <%= @sigan.gwamokid %>
</p>

<p>
  <strong>작성자</strong>
  <%= @sigan.username %>
</p>

<p>
  <strong>제목</strong>
  <%= @sigan.title %>
</p>

<p>
  <strong>내용</strong>
  <%= @sigan.body %>
</p>

<p>
  <strong>첨부파일</strong>
  <% if @sigan.attachment.url %>
    <%= link_to '다운로드', @sigan.attachment.url %>
  <% else %>
    <span>첨부파일 없음</span>
  <% end %>
</p>

<h6>댓글</h6>
<% @sigan.siplies.each do |siply| %>
  <p>
    <strong>작성자</strong>
    <%= siply.reply_user %>
  </p>
  <p>
    <strong>댓글</strong>
    <%= siply.body %>
  </p>
<% end %>

<h6>댓글달기</h6>
<%= form_for([@sigan, @sigan.siplies.build]) do |f| %>
  <p>
    <%= f.label :작성자 %><br>
    <%= f.text_field :reply_user %>
  </p>
  <p>
    <%= f.label :내용 %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to '수정하기', edit_sigan_path(@sigan, :currentgwamokid=> @sigan.gwamokid) %> |
<%= link_to '돌아가기', sigans_path(:currentgwamokid=> @sigan.gwamokid) %>