<div class="hidden_text">
        넘어온 값 : <%= @gwamokid = @currentgwamokid %> <%= @gwamokid %> <!--변수로 보일 것-->
    
    <%= @currentgwamokid = @gwamokid %>
</div>
    
    <div class="menu_images">
        <div class="pics"><%= link_to image_tag("team.jpg"), :action=>"index", :controller=>"sigans", :currentgwamokid=> @currentgwamokid %></div>
        <div class="pics"><%= link_to image_tag("board.jpg"), :action=>"index", :controller=>"posts", :currentgwamokid=> @currentgwamokid %></div>
        <div class="pics"><%= link_to image_tag("chat.jpg"), "https://chatfinal-cloned-hwaaang.c9users.io/chat_rooms/1"%></div>
    </div>
<!--:action=>"index", :controller=>"posts", 
<!--#Post.index(:currentgwamokid => @currentgwamokid)
<!--<form method="POST" action="/posts">-->
<!--  <input type="hidden" name="gwamokid" value="@gwamokid">-->
<!--  <p>게시판<input type="submit"></p>-->
<!--</form>-->