<div class="result-box">
  <p class="text1">강의명으로 검색한 결과</p>


<table id="crawls">
 
 
 <thead>
  <tr>
    <th>캠퍼스</th>
    <th>학수번호</th>
    <th>분반</th>
    <th>이수</th>
    <th>강의명</th>
    <th>교수명</th>
    <th colspan="5">시간/장소</th>

  </tr>
  </thead>
  <tbody>
<% @gwamokfind.each do |m| %>
  <tr>
    <td><%= link_to(m.campus, "#") %></td>
    <td><%= m.haksu %></td>
    <td><%= m.boonban %></td>
    <td><%= m.isoo %></td>
    <td><%= m.gwamok %></td>
    <td><%= m.gyosoo %></td>
    <td><%= m.timeplace1 %></td>
    <td><%= m.timeplace2 %></td>
    <td><%= m.timeplace3 %></td>
    <td><%= m.timeplace4 %></td>
    <%= form_tag crawlers_create_path do %>
    <%=hidden_field_tag "crawl_id", m.id%>
    <%=hidden_field_tag "gwamokid", m.gwamokid%>
    <%=hidden_field_tag "boonban", m.boonban%>
    <%=hidden_field_tag "gwamok", m.gwamok%>
    <%=hidden_field_tag "gyosoo", m.gyosoo%>
    <%=hidden_field_tag "timeplace1", m.timeplace1%>
    <%=hidden_field_tag "timeplace2", m.timeplace2%>
    <%=hidden_field_tag "timeplace3", m.timeplace3%>
    <%=hidden_field_tag "timeplace4", m.timeplace4%>
    <td class="crawlss-btn"><%= button_to "추가하기", crawlers_create_path, method:"post" %></td>
   <% end %>
 
  </tr>
<% end %>
</tbody>
</table>

</div>

 