<div class="container">
  <nav>
    <div class="wrap">
      <a href="/" class="logo navlogo"><%= image_tag("logo.png") %></a>
    </div>

    <ul class="account">
	    <li>
		    <a href="#">
			    <span class="userid">유저아이디</span>
			    <span class="usernickname">(유저닉네임)</span>
			  </a>
  		</li>
	  	<li>|</li>
		  <li>
		    <%= link_to "로그아웃", destroy_user_session_path, method: :delete  %>
		  </li>
	  </ul>
	
    <ul class="menu">
      <li class="menumargin active"><a href="#">시간표</a></li>
	    <li><a href="#">자료게시판</a></li>
	    <li><a href="#">채팅방</a></li>
	    <li><a href="#">팀플관리</a></li>
	  </ul>		    
	</nav>
			    
	
	
	
	  
<h1>SEARCH BAR</h1>

<%= search_form_for @search, url: crawlers_searchtest2_path, method: :get do |f| %>
 

  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  
  
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  
  
  <div class="field">Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  
 
 
 
 
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>




<table id="crawls">
  <tr>
    <th><%= sort_link @search, :campus, "캠퍼스" %></th>
    <th><%= sort_link @search, :haksu, "학수번호" %></th>
    <th><%= sort_link @search, :boonban, "분반" %></th>
    <th><%= sort_link @search, :isoo, "이수구분" %></th>
    <th><%= sort_link @search, :gwamok, "과목명" %></th>
    <th><%= sort_link @search, :gyosoo, "교수명" %></th>
       
  </tr>
<% @gwamoks.each do |crawl| %>
  <tr>
    <td><%= link_to(crawl.campus, "#") %></td>
    <td><%= crawl.haksu %></td>
    <td><%= crawl.boonban %></td>
    <td><%= crawl.isoo %></td>
    <td><%= crawl.gwamok %></td>
    <td><%= crawl.gyosoo %></td>

     <%= form_tag crawlers_create_path do %>
    <td><%=hidden_field_tag "crawl_id", crawl.id%></td>
    <td><%=hidden_field_tag "gwamokid", crawl.gwamokid%></td>
    <td><%=hidden_field_tag "boonban", crawl.boonban%></td>
    <td><%=hidden_field_tag "gwamok", crawl.gwamok%></td>
    <td><%=hidden_field_tag "gyosoo", crawl.gyosoo%></td>

    <td><%= button_to "추가하기", crawlers_create_path, method:"post" %></td>
   <% end%>
 
  </tr>
<% end %>
</table>

</div>