<p id="notice"><%= notice %></p>


<!-- 여기부터 -->
<% userid = "" %>
<% @userinfo.each do |x| %> <!--userinfo에는 user모델 -->
<% if x["name"] == @sigandanny.userid1 %>
<% userid = x["id"] %>
<% end %>
<% end %>

<% c = [] %>
<% @usergwamokinfo.each do |x| %> <!--usergwamokinfo에는 usergwamok모델 -->
<% if x["user_id"] == userid %>
<% c << x["timeplace1"] << x["timeplace2"] << x["timeplace3"] << x["timeplace4"] %>
<% end %>
<% end %>
<% c.reject(&:empty?) %>
<% yoilgyosi = [] %>

<% c.each do|x| %>
<% k = x %>
<% next if x == ""%>
<% imsiyoil = "" %>
<% givenyoil = k.split('(')[0] %>
    <% case givenyoil%>
        <% when "월" %>
        <% imsiyoil = 0 %>
        <% when "화" %>
        <% imsiyoil = 1 %>
        <% when "수" %>
        <% imsiyoil = 2 %>
        <% when "목" %>
        <% imsiyoil = 3 %>
        <% when "금" %>
        <% imsiyoil = 4 %>
    <% end %>
    <% if k.split("(")[1].split(")")[0].include?('-') %>
        <% imsigyosi = "" %>
        <% if k.split("-")[1].split(')')[0].to_i - k.split("-")[0].split('(')[1].to_i == 2 %>
        <% yoilgyosi << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% yoilgyosi << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 3] %>
        <% else %>
        <% yoilgyosi << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% end %>
    <% else %>
        <% imsigyosi = k.split(')')[0].split('(')[1] %>
        <% yoilgyosi << [imsiyoil.to_i,imsigyosi.to_i - 1] %>
    <% end %>
<% end %>
<% yoilgyosi %>
<!-- [요일, 교시], 교시: 0(1교시) 1(2교시) 2(3교시)... 9(10교시) / 요일: 0(월요일) 1(화요일)...4(금요일) --
<!-- 대니를 위해 행렬 생성해봄 -->
<% dannymatrix = [] %>
<% dannymatrix = [[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0]]%>
<% yoilgyosi.each do |x| %>
<!--x[0]는 요일 -->
<!--x[1]는 교시 -->
<% dannymatrix[x[0]][x[1]] = 1 %>
<% end %>
<% dannymatrix %>
<!-- 여기까지 한 명 -->

<% userid2 = "" %>
<% @userinfo.each do |x| %>
<% if x["name"] == @sigandanny.userid2 %>
<% userid2 = x["id"] %>
<% end %>
<% end %>


<% d = [] %>
<% @usergwamokinfo.each do |x| %>
<% if x["user_id"] == userid2 %>
<% d << x["timeplace1"] << x["timeplace2"] << x["timeplace3"] << x["timeplace4"] %>
<% end %>
<% end %>
<% d.reject(&:empty?) %>
<% yoilgyosi2 = [] %>

<% d.each do|x| %>
<% k = x %>
<% next if x == ""%>
<% imsiyoil = "" %>
<% givenyoil = k.split('(')[0] %>
    <% case givenyoil%>
        <% when "월" %>
        <% imsiyoil = 0 %>
        <% when "화" %>
        <% imsiyoil = 1 %>
        <% when "수" %>
        <% imsiyoil = 2 %>
        <% when "목" %>
        <% imsiyoil = 3 %>
        <% when "금" %>
        <% imsiyoil = 4 %>
    <% end %>
    <% if k.split("(")[1].split(")")[0].include?('-') %>
        <% imsigyosi = "" %>
        <% if k.split("-")[1].split(')')[0].to_i - k.split("-")[0].split('(')[1].to_i == 2 %>
        <% yoilgyosi2 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi2 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% yoilgyosi2 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 3] %>
        <% else %>
        <% yoilgyosi2 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi2 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% end %>
    <% else %>
        <% imsigyosi = k.split(')')[0].split('(')[1] %>
        <% yoilgyosi2 << [imsiyoil.to_i,imsigyosi.to_i - 1] %>
    <% end %>
<% end %>
<% yoilgyosi2 %>

<% dannymatrix2 = [] %>
<% dannymatrix2 = [[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0]]%>
<% yoilgyosi2.each do |x| %>
<!--x[0]는 요일 -->
<!--x[1]는 교시 -->
<% dannymatrix2[x[0]][x[1]] = 1 %>
<% end %>
<% dannymatrix2 %>
<!-- 여기까지 두 명 -->
<% userid3 = "" %>
<% @userinfo.each do |x| %>
<% if x["name"] == @sigandanny.userid3 %>
<% userid3 = x["id"] %>
<% end %>
<% end %>


<% e = [] %>
<% @usergwamokinfo.each do |x| %>
<% if x["user_id"] == userid3 %>
<% e << x["timeplace1"] << x["timeplace2"] << x["timeplace3"] << x["timeplace4"] %>
<% end %>
<% end %>
<% e.reject(&:empty?) %>
<% yoilgyosi3 = [] %>

<% e.each do|x| %>
<% k = x %>
<% next if x == ""%>
<% imsiyoil = "" %>
<% givenyoil = k.split('(')[0] %>
    <% case givenyoil%>
        <% when "월" %>
        <% imsiyoil = 0 %>
        <% when "화" %>
        <% imsiyoil = 1 %>
        <% when "수" %>
        <% imsiyoil = 2 %>
        <% when "목" %>
        <% imsiyoil = 3 %>
        <% when "금" %>
        <% imsiyoil = 4 %>
    <% end %>
    <% if k.split("(")[1].split(")")[0].include?('-') %>
        <% imsigyosi = "" %>
        <% if k.split("-")[1].split(')')[0].to_i - k.split("-")[0].split('(')[1].to_i == 2 %>
        <% yoilgyosi3 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi3 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% yoilgyosi3 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 3] %>
        <% else %>
        <% yoilgyosi3 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi3 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% end %>
    <% else %>
        <% imsigyosi = k.split(')')[0].split('(')[1] %>
        <% yoilgyosi3 << [imsiyoil.to_i,imsigyosi.to_i - 1] %>
    <% end %>
<% end %>
<% yoilgyosi3 %>

<% dannymatrix3 = [] %>
<% dannymatrix3 = [[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0]]%>
<% yoilgyosi3.each do |x| %>
<!--x[0]는 요일 -->
<!--x[1]는 교시 -->
<% dannymatrix3[x[0]][x[1]] = 1 %>
<% end %>
<% dannymatrix3 %>
<!--여기까지 3명 -->

<% userid4 = "" %>
<% @userinfo.each do |x| %>
<% if x["name"] == @sigandanny.userid4 %>
<% userid4 = x["id"] %>
<% end %>
<% end %>



<% f = [] %>
<% @usergwamokinfo.each do |x| %>
<% if x["user_id"] == userid4 %>
<% f << x["timeplace1"] << x["timeplace2"] << x["timeplace3"] << x["timeplace4"] %>
<% end %>
<% end %>
<% f.reject(&:empty?) %>
<% yoilgyosi4 = [] %>

<% f.each do|x| %>
<% k = x %>
<% next if x == ""%>
<% imsiyoil = "" %>
<% givenyoil = k.split('(')[0] %>
    <% case givenyoil%>
        <% when "월" %>
        <% imsiyoil = 0 %>
        <% when "화" %>
        <% imsiyoil = 1 %>
        <% when "수" %>
        <% imsiyoil = 2 %>
        <% when "목" %>
        <% imsiyoil = 3 %>
        <% when "금" %>
        <% imsiyoil = 4 %>
    <% end %>
    <% if k.split("(")[1].split(")")[0].include?('-') %>
        <% imsigyosi = "" %>
        <% if k.split("-")[1].split(')')[0].to_i - k.split("-")[0].split('(')[1].to_i == 2 %>
        <% yoilgyosi4 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi4 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% yoilgyosi4 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 3] %>
        <% else %>
        <% yoilgyosi4 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 1] %>
        <% yoilgyosi4 << [imsiyoil.to_i,k.split("-")[1].split(')')[0].to_i - 2] %>
        <% end %>
    <% else %>
        <% imsigyosi = k.split(')')[0].split('(')[1] %>
        <% yoilgyosi4 << [imsiyoil.to_i,imsigyosi.to_i - 1] %>
    <% end %>
<% end %>
<% yoilgyosi4 %>

<% dannymatrix4 = [] %>
<% dannymatrix4 = [[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0]]%>
<% yoilgyosi4.each do |x| %>
<!--x[0]는 요일 -->
<!--x[1]는 교시 -->
<% dannymatrix4[x[0]][x[1]] = 1 %>
<% end %>
<% dannymatrix4 %>

<!--여기부터 대니 계산 함수 -->
<% integratedanny = []%>
<% integratedanny << dannymatrix %>
<% integratedanny << dannymatrix2 %>
<% integratedanny << dannymatrix3 %>
<% integratedanny << dannymatrix4 %>
<!-- 필요하면 dannymatrix 3, 4, 5 계속 던지면 아래 함수는 돌아감. integratedanny가 계산함수, sumdannymatrix가 통합함수 -->

<% n = 0 %>
<% sumdannymatrix = [[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0],[0,0,0,0,0,0,0,0,0,0]] %>
<% integratedanny.each do |x| %>
<% for i in (0..4)%>
<% for j in (0..9)%>
<% sumdannymatrix[i][j] = x[i][j] + sumdannymatrix[i][j] %>
<% end %>
<% end %>
<% end %>

<% sumdannymatrix %>
<% yoilgyosi = [] %>
<!--sumdannymatrix 해석 함수 -->


<p class="text1 sigantitle"><%= "모두가 만날 수 있는 시간은?" %></p>
<% for i in 0..4 do %>
<% for j in 0..9 do %>
<% if sumdannymatrix[i][j] == 0 %>
<% yoilgyosi << [i,j] %>
<% o = ""%>
   <% case %>
        <% when i == 0 %>
        <% o = "월" %>
        <% when i == 1 %>
        <% o = "화" %>
        <% when i == 2 %>
        <% o = "수" %>
        <% when i == 3 %>
        <% o = "목" %>
        <% when i == 4 %>
        <% o = "금" %>
    <% end %>
    <% "#{o}요일의 #{j }교시"%>
<% end %>
<% end %>
<% end %>

<div class="sigan-info">
<div id="wannawrite3"><%= link_to '다른 팀원 넣어보기', edit_sigandanny_path(@sigandanny) %></div><span class="siganbr">|</span>
<div id="wannawrite4"><%= link_to '오키!', sigandanny_url, method: :delete  %></div>

</div>

<table width="80%" align="center" class="sigantt" >
   <div id="head_nav">
        <tr>
            <th>교시/요일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
        </tr>
    </div>  
<br>
<% n = "" %>
<% n = yoilgyosi.count - 1 %>
    <tr>
         <% for j in (0..9)%>  <!-- j는 교시  k 는 요일 -->
        <th><%="#{j}"%>교시</th>
        <% for k in (0..4)%>
            <td id=<%= "#{k}"+"#{j}"%>>
                <% for i in (0..n)%>
                <% m = "" %>
                <% l = "" %>
                <% m = yoilgyosi[i][0] %>
                <% l = yoilgyosi[i][1] %>
                <% if m == k && l == j%>
                <%="모임가능"%>
                <% end %>
                <% end %>
                </td>
        <% end%>
    </tr>
     <% end%>
</table>
