<div class="user_whiteboard">
    <div class="subtitle">
    <a href="/" class="logo"><%= image_tag("logo.png") %></a>  
    <p id="maintitle">WHITE BOARD</p>
    </div>
    <div class="boundary2">
      <div class="form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
          <div class="form-inputs">
           <%= f.input :email, autofocus: true, :label => false, placeholder: "이메일@korea.ac.kr" %>
           <%= f.input :password, :label => false, placeholder: "비밀번호" %>
           <%= f.input :remember_me, :label => '기억해주세요', as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions" id="submit">
            <%= f.button :submit, "로그인" %>
          </div>
      <% end %>
      </div>
    </div>
   <div class="links">
    <%= render "devise/shared/links" %>
   </div>
      </div>
