<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :현재과목 %><br>
    <%= f.text_field :gwamokid, :value => @currentgwamokid, :readonly => true %>

  </div>
  <div class="field">
    <%= f.label :작성자 %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :제목 %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :내용 %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :첨부파일 %><br>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
