<p id="notice"><%= notice %></p>

<p>
  <strong>현재과목</strong>
  <%= @post.gwamokid %>
</p>

<p>
  <strong>작성자</strong>
  <%= @post.username %>
</p>

<p>
  <strong>제목</strong>
  <%= @post.title %>
</p>

<p>
  <strong>내용</strong>
  <%= @post.body %>
</p>

<p>
  <strong>첨부파일</strong>
  <% if @post.attachment.url %>
    <%= link_to '다운로드', @post.attachment.url %>
  <% else %>
    <span>첨부파일 없음</span>
  <% end %>
</p>

<h6>댓글</h6>
<% @post.replies.each do |reply| %>
  <p>
    <strong>작성자</strong>
    <%= reply.reply_user %>
  </p>
  <p>
    <strong>내용</strong>
    <%= reply.body %>
  </p>
<% end %>

<h6>댓글달기</h6>
<%= form_for([@post, @post.replies.build]) do |f| %>
  <p>
    <%= f.label :작성자 %><br>
    <%= f.text_field :reply_user %>
  </p>
  <p>
    <%= f.label :내용 %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
<%= link_to '수정하기', edit_post_path(@post, :currentgwamokid=> @post.gwamokid) %> 
<%= link_to '돌아가기', posts_path(:currentgwamokid=> @post.gwamokid) %>

