<!DOCTYPE html>
<html>
<head>
  <title>화이트보드</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

<meta charset="UTF-8">

</head>
<body>

  <!--<p class="notice"><%= notice %></p>-->
  <!--<p class="alert"><%= alert %></p>-->
<%= yield %>



</body>
  

</html>
