<!DOCTYPE html>
<html>
<head>
  <title>화이트보드</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

<meta charset="UTF-8">

</head>
<body>

  <!--<p class="notice"><%= notice %></p>-->
  <!--<p class="alert"><%= alert %></p>-->
<%= yield %>



</body>
  

</html>
